.DS_Store
node_modules/
build/
expath-pkg.xml
resources/scripts/*.min.js
resources/scripts/*.min.js.map
resources/scripts/prettier-bundle.js
.env


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
